{% extends 'base.html.twig' %}

{% block title %}Reservation Confirmed - LuxeStay{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/booking_success.css') }}">
{% endblock %}

{% block body %}
<div class="success-wrapper">
    <div class="success-card">
        {# أيقونة الصح (يمكنك استخدام FontAwesome أو حرف ✓ بسيط) #}
        <div class="success-icon">
            ✓
        </div>

        <h1>Reservation Created</h1>
        <p>Your luxury stay at LuxeStay has been successfully secured. A confirmation email with your booking details will be sent to you shortly.</p>

        <div class="success-actions">
            <a href="{{ path('client_booking_new') }}" class="btn-royal">
                Create Another Reservation
            </a>
            <a href="{{ path('app_home') }}" class="link-secondary">
                Return to Homepage
            </a>
        </div>
    </div>
</div>
{% endblock %}
